// Global Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: rgb(31, 31, 31);

$color-black: #000;
$color-white: #fff;

$color-secondary-yellow: #ffb900;
$color-secondary-orange: #ff7730;

$color-tertiary-blue: #2998ff;
$color-tertiary-purple: #5649fa;

// Gradients
$primary-linear-gradient: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8));
$linear-gradient-bg-image: linear-gradient(
    to right bottom, 
    rgba($color-primary-light, 0.8), 
    rgba($color-primary-dark, 0.8)),
    url('../img/hero.jpg');

// Grid 
$grid-max-width: 114rem;
$grid-max-width-small: 60rem; // Phone, Table

$grid-gutter-vertical: 2rem; // Margen
$grid-gutter-horizontal: 4rem; // Margen
$grid-gutter-vertical-small: 1rem; // Margen
$grid-gutter-horizontal-small: 2rem; // Margen

// Fonts
$default-font-size: 1.6rem;

// Cards
$card-height: 50rem;

:root {
    --site-padding: 3rem;
    --site-font-size: 62.5%; /* Rem Size | 10/16=0.625*100=62.5 | Zoom Corregido*/
    --color-grey-dark: #777;
    --color-white: #fff;
}
