*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} 

ul {
    list-style: none;
}

a {
    text-decoration: none;

    &:visited {
        text-decoration: none;
    }
}

html {
    scroll-behavior: smooth;
    transition: scroll-behavior 5s 2s;
    // 1rem = 10px; 10px/16px = 0.625 * 100 = 62.5
    font-size: 62.5%;

    @include respond(phone) {
        font-size: 50%;
    }

    @include respond(tab) {
        font-size: 50%;
    }

    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(big-desktop) {
        font-size: 75%;
    }
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: var(--color-grey-dark);
    padding: var(--site-padding);
    box-sizing: border-box;

    @include respond(phone) {
        padding: 0;
    }

    @include respond(tab) {
        padding: 0;
    }
}
